* {
    margin: 0;
    padding: 0;
}
.wrapper {
    background-color: #e4f7ffaf;
    margin: 20px auto;
    width: 400px;
    height: 520px;
    border-radius: 5%;
    border: 2px solid #1D2951;
}
.view {
    height: 120px;
    border-bottom: 2px double #1D2951;

}
.view input, #first, #second {
    margin: 30px 30px;
    font-size: 36px;
    padding: 12px;
    width: 300px;
    background-color: #b5d4b3;
    text-align: right;
    border: 2px solid #1D2951;
}
label {
    width: 100px;
    height: 50px;
    margin: 0;
    display: inline-block;
    color: #1D2951;
    font-size: 20px;
    margin-top: 25px;
}
#first, #second {
    width: 100px;
    font-size: 24px;
    margin-left: 20px;
}
.calc {
    margin: 10px 50px;
}
.button {
    width:60px;
    height:60px;
    font-size: 36px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #1D2951;
}
.button:hover {
    cursor: pointer;
}
.number, .oper {
    color: #e4f7ff;
    background-color: #1D2951;
}
.delete {
    margin-left: 120px;
}